* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 1000px;
}

img {
  display: inline-block;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/*header*/
.header {
  margin: 0 auto;
  padding-top: 15px;
  position: sticky;
  top: 15px;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.header__logo {
  align-self: center;
}

.header__links {
  list-style: none;
  display: flex;
}

.header__link {
  margin: 15px;
}

.header__link > a:hover {
  color: blueviolet;
}
